<!--
Copyright 2014 CloudFounders NV
All rights reserved
-->
<section>
    <!-- ko if: !loaded() -->
        <ol class="breadcrumb">
            <li class="active"><span class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></span></li>
        </ol>
        <div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#information" data-toggle="tab" >
                        <span class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="information" style="padding: 15px;">
                    <span class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></span>
                </div>
           </div>
        </div>
    <!-- /ko -->
    <!-- ko if: loaded() -->
        <div data-bind="with: device()">
            <ol class="breadcrumb">
                <li class="active"><span data-i18n="alba:livekinetic.title"></span>: <span data-bind="text: serialNumber"></span></li>
            </ol>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#information" data-toggle="tab">
                            <span class="fa" data-i18n="[html]ovs:icons.information"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="information" style="padding: 15px;">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th data-i18n="alba:generic.details" colspan="2"></th>
                                    <th data-i18n="alba:generic.statistics" colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.serial"></td>
                                    <td style="width: 35%;"><span data-bind="text: serialNumber"></span></td>
                                    <td style="width: 15%;" data-i18n="alba:generic.putss"></td>
                                    <td style="width: 35%;"><span data-bind="lazyloader: { item: putsPerSecond }"></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.model"></td>
                                    <td style="width: 35%;"><span data-bind="text: configuration().model"></span></td>
                                    <td style="width: 15%;" data-i18n="alba:generic.getss"></td>
                                    <td style="width: 35%;"><span data-bind="lazyloader: { item: getsPerSecond }"></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.firmware"></td>
                                    <td style="width: 35%;"><span data-bind="text: configuration().version"></span></td>
                                    <td style="width: 15%;" data-i18n="alba:generic.totalputs"></td>
                                    <td style="width: 35%;"><span data-bind="text: statistics().PUT.count"></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.capacity"></td>
                                    <td style="width: 35%;"><span data-bind="text: $root.formatBytes(capacity().nominal)"></span></td>
                                    <td style="width: 15%;" data-i18n="alba:generic.totalgets"></td>
                                    <td style="width: 35%;"><span data-bind="text: statistics().GET.count"></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.chassis"></td>
                                    <td style="width: 35%;">n/a</td>
                                    <td style="width: 15%;" data-i18n="alba:generic.temperaturecpu"></td>
                                    <td style="width: 35%;"><span data-bind="text: temperature().CPU.current"></span> <span data-i18n="[html]alba:generic.degc"></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.bay"></td>
                                    <td style="width: 35%;">n/a</td>
                                    <td style="width: 15%;" data-i18n="alba:generic.utilizationcpu"></td>
                                    <td style="width: 35%;"><span data-bind="text: $root.formatPercentage(utilization().CPU)"></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.failurezone"></td>
                                    <td style="width: 35%;">n/a</td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%;" data-i18n="alba:generic.port"></td>
                                    <td style="width: 35%;"><span data-bind="text: networkInterfaces()[0].port"></span></td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active" data-bind="tooltip: 'alba:generic.nics'">
                        <a href="#nics" data-toggle="tab" class="fa" data-i18n="[html]alba:icons.nics"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="nics" style="padding: 15px;">
                        <h4 data-i18n="alba:generic.nics"></h4>
                        <div data-bind="pager: { items: networkInterfaces, headers: $root.nicHeaders, initialLoad: $root.loading,
                                         viewportRefresh: $root.refreshNics, viewportRefreshInterval: 5000, controls: true }">
                            <table data-dummy="dummy">
                                <tr data-part="vitem">
                                    <td><span data-bind="text: interface"></span></td>
                                    <td><span data-bind="text: mac_address"></span></td>
                                    <td><span data-bind="text: ip_address"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /ko -->
</section>
