<!--
Copyright 2014 CloudFounders NV
All rights reserved
-->
<section>
	<ol class="breadcrumb">
	    <li class="active" data-bind="text: backend().name"></li>
	</ol>
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#information" data-toggle="tab" >
                    <span class="fa" data-i18n="[html]ovs:icons.information"></span>
                    <span style="padding-left: 5px;" data-bind="text: backend().name, visible: backend().name() !== undefined"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- ko if: albaBackend() !== undefined -->
                <div class="tab-pane active" id="information" style="padding: 15px;" data-bind="with: albaBackend()">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-i18n="alba:generic.details" colspan="2"></th>
                                <th data-i18n="alba:generic.statistics" colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 15%;" data-i18n="ovs:generic.backendtype"></td>
                                <td style="width: 35%;">
                                    <span data-bind="lazyloader: { item: $root.backend().backendType, loadedObservable: 'loaded', undefinedLoading: false }">
                                        <span data-part="lazy-entry"
                                              data-bind="translate: 'ovs:generic.backendtypes.' + item().code()"></span>
                                    </span>
                                </td>
                                <td style="width: 15%;" data-i18n="alba:generic.putss"></td>
                                <td style="width: 35%;">n/a</td>
                            </tr>
                            <tr>
                                <td style="width: 15%;" data-i18n="alba:generic.nrofdevices"></td>
                                <td style="width: 35%;">n/a</td>
                                <td style="width: 15%;" data-i18n="alba:generic.getss"></td>
                                <td style="width: 35%;">n/a</td>
                            </tr>
                            <tr>
                                <td style="width: 15%;" data-i18n="ovs:generic.status"></td>
                                <td style="width: 35%;">
                                    <div data-bind="status: {
                                                        colors: {
                                                            blue: $root.backend().status() == 'new',
                                                            green: $root.backend().status() == 'running',
                                                            orange: $root.backend().status() == 'installing',
                                                            red: $root.backend().status() == 'failure',
                                                            black: $root.backend().status() == 'stopped'
                                                        },
                                                        defaultColor: 'lightgrey'
                                                    }, tooltip: 'ovs:generic.states.backend.' + $root.backend().status()"
                                         style="width: 14px; height: 14px;"></div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!-- /ko -->
            <!-- ko if: albaBackend() === undefined -->
                <div class="tab-pane active" id="information-undefined" style="padding: 15px;">
                    <span class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></span>
                </div>
            <!-- /ko -->
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active" data-bind="tooltip: 'alba:generic.nodes', visible: $.inArray('manage', $root.shared.user.roles()) !== -1">
                <a href="#nodes" data-toggle="tab" class="fa" data-i18n="[html]alba:icons.nodes"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="nodes" style="padding: 15px;" data-bind="visible: $.inArray('manage', $root.shared.user.roles()) !== -1">
                <h4 data-i18n="alba:nodes.nodes"></h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th data-i18n="alba:generic.boxid" style="width: 400px;"></th>
                            <th data-i18n="alba:generic.node"></th>
                            <th data-i18n="ovs:generic.actions" style="width: 80px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: registeredNodes -->
                            <tr>
                                <td colspan="3" style="padding: 0">
                                    <table class="table" style="background-color: inherit; margin-bottom: 0; width: inherit;">
                                        <tr>
                                            <td style="width: 400px; border-top: 0;" data-bind="text: boxID"></td>
                                            <td style="border-top: 0;">
                                                <!-- ko if: storageRouterGuid() === undefined || storageRouter() === undefined -->
                                                    <span data-bind="text: ip"></span>:<span data-bind="text: port"></span>
                                                <!-- /ko -->
                                                <!-- ko if: storageRouterGuid() !== undefined && storageRouter() !== undefined -->
                                                    <span data-bind="lazyloader: { item: storageRouter, loadedObservable: 'loaded', undefinedLoading: true }">
                                                        <a data-part="lazy-entry"
                                                           data-bind="text: item().name,
                                                                      attr: { href: $root.shared.routing.loadHash('storagerouter-detail', { guid: item().guid }) }"></a>
                                                    </span>
                                                <!-- /ko -->
                                            </td>
                                            <td style="width: 80px; border-top: 0;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="border-top: 0;">
                                                <!-- ko if: diskRows().length === 0 -->
                                                    <i data-i18n="alba:generic.nodisks"></i>
                                                <!-- /ko -->
                                                <div data-bind="foreach: diskRows">
                                                    <div class="row" data-bind="foreach: items, style: { 'margin-top': $index() > 0 ? '10px' : '0' }"
                                                         style="margin-left: 0;">
    <div data-bind="css: {
                        'col-md-4': $parent.items.length === 3,
                        'col-md-6': $parent.items.length === 2,
                        'col-md-12': $parent.items.length === 1
                    }">
        <div class="input-group">
            <button type="button" class="btn btn-small dropdown-toggle" data-toggle="dropdown"
                    style="width: 300px; position: relative; text-align: left;"
                    data-bind="css: {
                                   'btn-default': status() == 'uninitialized',
                                   'btn-info': status() == 'initialized',
                                   'btn-primary': status() == 'available',
                                   'btn-success': status() == 'claimed',
                                   'btn-warning': status() == 'warning',
                                   'btn-danger': status() == 'error'
                               }">
                <span style="display: inline-block;">
                    <!-- ko if: !processing() -->
                        <i class="hand fa fa-fw" data-i18n="[html]ovs:icons.vdisks" style="padding-right: 25px;"></i>
                    <!-- /ko -->
                    <!-- ko if: processing() -->
                        <span style="padding-right: 7px;"><i class="hand fa fa-fw fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
                    <!-- /ko -->
                    <span data-bind="shortText: name(), maxLength: 27"></span>
                </span>
                <span style="display: inline-block; position: absolute; right: 12px; top: 6px;">
                    <span class="caret"></span>
                </span>
            </button>
            <ul class="dropdown-menu" role="menu" style="max-height: 250px; overflow: auto; z-index: 6000;">
                <li style="width: 300px;">
                    <a style="position: relative;">
                        <span data-i18n="ovs:generic.status"></span>: <span data-bind="translate: 'alba:generic.states.osd.' + status()"></span>
                        <!-- ko if: status() === 'uninitialized' -->
                            <span style="display: inline-block; position: absolute; right: 20px; top: 2px;">
                                <button type="button" class="btn btn-default btn-xs" data-i18n="alba:generic.initialize"
                                        data-bind="click: initialize, css: { disabled: processing() || !loaded() }"></button>
                            </span>
                        <!-- /ko -->
                        <!-- ko if: status() === 'initialized' -->
                            <span style="display: inline-block; position: absolute; right: 20px; top: 2px;">
                                <button type="button" class="btn btn-danger btn-xs" data-i18n="alba:generic.remove"
                                        data-bind="click: remove, css: { disabled: processing() || !loaded() }"></button>
                            </span>
                        <!-- /ko -->
                        <!-- ko if: status() === 'available' -->
                            <span style="display: inline-block; position: absolute; right: 20px; top: 2px;">
                                <button type="button" class="btn btn-success btn-xs" data-i18n="alba:generic.claim"
                                        data-bind="click: claim, css: { disabled: processing() || !loaded() }"></button>
                                <button type="button" class="btn btn-danger btn-xs" data-i18n="alba:generic.remove"
                                        data-bind="click: remove, css: { disabled: processing() || !loaded() }"></button>
                            </span>
                        <!-- /ko -->
                        <!-- ko if: status() === 'claimed' -->
                            <span style="display: inline-block; position: absolute; right: 20px; top: 2px;">
                                <button type="button" class="btn btn-danger btn-xs" data-i18n="alba:generic.remove"
                                        data-bind="click: remove, css: { disabled: processing() || !loaded() }"></button>
                            </span>
                        <!-- /ko -->
                        <!-- ko if: status() === 'warning' -->
                            <span style="display: inline-block; position: absolute; right: 20px; top: 2px;">
                                <button type="button" class="btn btn-danger btn-xs" data-i18n="alba:generic.remove"
                                        data-bind="click: remove, css: { disabled: processing() || !loaded() }"></button>
                            </span>
                        <!-- /ko -->
                        <!-- ko if: status() === 'error' -->
                            <span style="display: inline-block; position: absolute; right: 20px; top: 2px;">
                                <button type="button" class="btn btn-danger btn-xs" data-i18n="alba:generic.remove"
                                        data-bind="click: remove, css: { disabled: processing() || !loaded() }"></button>
                            </span>
                        <!-- /ko -->
                    </a>
                </li>
                <li>
                    <a>
                        <span data-i18n="ovs:generic.name"></span>:
                        <abbr data-bind="attr: { title: name() }"><span data-bind="shortText: name(), maxLength: 25"></span></abbr>
                    </a>
                </li>
                <!-- ko if: status() === 'claimed' && asdID() !== undefined -->
                    <li>
                        <a>
                            <span data-i18n="alba:generic.asdid"></span>:
                            <abbr data-bind="attr: { title: asdID() }"><span data-bind="shortText: asdID(), maxLength: 23"></span></abbr>
                        </a>
                    </li>
                <!-- /ko -->
                <!-- ko if: (status() === 'claimed' || status() === 'initialized' || status() === 'available') && mountpoint() !== undefined -->
                    <li>
                        <a>
                            <span data-i18n="alba:generic.mountpoint"></span>:
                            <abbr data-bind="attr: { title: mountpoint() }"><span data-bind="shortText: mountpoint(), maxLength: 28"></span></abbr>
                        </a>
                    </li>
                <!-- /ko -->
                <!-- ko if: status() !== 'unavailable' && status() !== 'uninitialized' && statistics() !== undefined -->
                    <li>
                        <a>
                            <span data-i18n="ovs:generic.usage"></span>: <span data-bind="text: $root.formatBytes(statistics().used)"></span> / <span data-bind="text: $root.formatBytes(statistics().size)"></span>
                            - <span data-bind="text: $root.formatPercentage(statistics().used / statistics().size)"></span>
                        </a>
                    </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- ko if: diskRows().length > 0 -->
                                            <tr>
                                                <td colspan="3" style="border-top: 0;">
                                                    <span data-i18n="alba:generic.actions"></span>
                                                    <button type="button" class="btn btn-default btn-xs" data-i18n="alba:generic.initializeall"
                                                            data-bind="click: initializeAll, enable: canInitializeAll()" style="margin-left: 10px;"></button>
                                                    <button type="button" class="btn btn-success btn-xs" data-i18n="alba:generic.claimall"
                                                            data-bind="click: claimAll, enable: canClaimAll()" style="margin-left: 10px;"></button>
                                                </td>
                                            </tr>
                                        <!-- /ko -->
                                    </table>
                                </td>
                            </tr>
                        <!-- /ko -->
                        <!-- ko foreach: discoveredNodes -->
                            <tr>
                                <td style="width: 400px;" data-bind="text: boxID"></td>
                                <td><span data-bind="text: ip"></span>:<span data-bind="text: port"></span></td>
                                <td style="width: 80px;">
                                    <i data-bind="attr: { id: 'registernode_' + boxID() },
                                                  click: function() {
                                                      if ($.inArray('manage', $root.shared.user.roles()) !== -1) {
                                                          register();
                                                      }
                                                  },
                                                  tooltip: 'alba:generic.register',
                                                  style: { color: $.inArray('manage', $root.shared.user.roles()) !== -1 ? 'black' : 'lightgrey' }"
                                   class="hand fa fa-fw" data-i18n="[html]alba:icons.registernode"></i>
                                </td>
                            </tr>
                        <!-- /ko -->
                        <!-- ko if: rNodesLoading() || dNodesLoading()-->
                            <tr>
                                <td colspan="3">
                                    <i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                                </td>
                            </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                <div>
                    <span class="pull-right">
                        <span data-i18n="alba:generic.legend" style="margin-right: 10px;"></span>
                        <span class="label" style="background-color: #FFF; border: 1px solid #CCC; color: #333;" data-i18n="alba:generic.states.osd.uninitialized"></span>
                        <span class="label" style="background-color: #DDD; color: #333;" data-i18n="alba:generic.states.osd.unavailable"></span>
                        <span class="label label-info" data-i18n="alba:generic.states.osd.initialized"></span>
                        <span class="label label-primary" data-i18n="alba:generic.states.osd.available"></span>
                        <span class="label label-success" data-i18n="alba:generic.states.osd.claimed"></span>
                        <span class="label label-warning" data-i18n="alba:generic.states.osd.warning"></span>
                        <span class="label label-danger" data-i18n="alba:generic.states.osd.error"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
